<h1>New game</h1>

<ul>
  <% @letters.each do |letter| %>
  <li><%= letter %></li>
  <% end %>
</ul>

<p>What is the longest word you can find?</p>
<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" type="hidden" id="name" value="">
  <input id="collected_input" name="collected_input" type="hidden" value="<%=@letters%>">
  <input type="submit">
</form>


